.forum-bar{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    background:radial-gradient(circle farthest-corner at left,midnightblue,midnightblue,rgb(44,36,124));
    position: fixed;
    z-index: 500;
    width: 296px;
    height: 90px;
}
.filter {
    padding: 6px 8px;
    margin-right: 6px;
    font-size: 17px;
}

.filter:hover {
    padding: 6px 8px;
    margin-right: 6px;
    font-size: 17px;
}

#forumList{
    overflow-y: scroll;
    margin-right: 10px;
    margin-top: 95px;
    height: calc(100vh - 207px);
    width: 290px;
    position: fixed;
}

.post{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    border: 1px solid purple;
    border-left: 5px solid purple;
    text-align: left;
    padding: 2px;
    margin-right: 5px;
    margin-left: 15px;
    margin-top: 10px;
    outline: none;
    width:250px;
    background: radial-gradient(ellipse farthest-corner at left,rgba(128, 0, 128,0.08),rgba(128, 0, 128,0.04));
}

.post:hover{
    border: 2px solid rebeccapurple;
    border-left: 5px solid rebeccapurple;
}
.post:focus{
    border: 2px solid rebeccapurple;
    border-left: 5px solid rebeccapurple;
}

.unsolved{
    background: radial-gradient(ellipse  at center,rgba(255,192,203,0.05),rgba(255,192,203,0.2));
}

.past{
    background: radial-gradient(ellipse  at center,rgba(12,233,226, 0.05),rgba(12,233,226, 0.1));
}
