/* Add a black background color to the top navigation */
.secnav {
    z-index: 500;
    background:radial-gradient(circle farthest-corner at left,midnightblue,rebeccapurple);
    overflow: hidden;
    position: fixed;
    top: 48px;
    border-top:2px solid rebeccapurple;
    border-bottom:2px solid midnightblue;
    left: 0;
    width: 100%;
    height: 40px;
    outline:none;
}

/* Style the links inside the navigation bar */
.secnav a {
    float: left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 11px;
}

/* Change the color of links on hover */
.secnav a:hover {
    background-color: steelblue;
    border-left: 2px solid purple;
    outline:none;
}

/* Add a color to the active/current link */
.secnav a:focus {
    background-color: steelblue;
    border-left: 2px solid purple;
    outline:none;
}


/* Styling of the search container */
.secnav .search-container {
    float: left;
}

/* Setting to put the profile and settings button on right */
.secnav-right {
    float: right;
}